.nav-scroller .nav {
    color: rgba(255, 255, 255, .75);
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-scroller .nav-link:hover {
    color: #007bff;
}

.nav-scroller .active {
    font-weight: 500;
    color: #343a40;
}

.spacer {
    height: 100px;
}

.bd-navbar .navbar-toggler .bi {
    width: 1.5rem;
    height: 1.5rem
}

.bd-navbar .navbar-toggler:focus {
    box-shadow: none
}

.bd-navbar .dropdown-menu .dropdown-item:active .bi {
    color: inherit !important
}

.bd-navbar .dropdown-menu .dropdown-item:active .bi:hover {
    color: inherit !important
}

.bd-navbar .dropdown-menu .active .bi {
    display: block !important
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}
