<div class="row mt-4 g-0 align-items-start">
  <div class="col">
    <app-origin></app-origin>
    <div class="d-flex justify-content-between mt-2">
      <h1>Address</h1>
      <div>
        <button class="btn my-btn" mat-raised-button color="primary" (click)="addDetail()">
          Add
        </button>
      </div>
    </div>
    <div *ngIf="staffAddress$ | async as addresses">
      <div *ngIf="addresses.length===0; then empty"></div>
      <div *ngFor="let address of addresses">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Current Address</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Post Code</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">City</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Living From</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Previous Address</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Post Code</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">City</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Living From</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Living To</th>
              <td>Empty</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <h1>Bank Details</h1>
      <div>
        <button class="btn my-btn" mat-raised-button color="primary" (click)="addDetail()">
          Add
        </button>
      </div>
    </div>
    <ng-template #add>
      <div>
        <button class="btn" mat-raised-button color="primary" (click)="addDetail()">
          Add
        </button>
      </div>
    </ng-template>
    <ng-template #empty>
      <div class="no-record">There is no record to show.</div>
    </ng-template>
  </div>
  <!-- next column  -->
  <div class="col ms-4">
    <div class="d-flex justify-content-between">
      <h1>Vetting</h1>
      <div *ngIf="vetting$ | async as vetting;">
        <div *ngIf="vetting.length===0; then add"></div>
        <div *ngFor="let x of vetting">
          <div *ngIf="x.submitted === true; then edit"></div>
          <ng-template #edit>
            <button class="btn" mat-raised-button color="primary" (click)="editVetting(x)">
              Edit
            </button>
          </ng-template>
        </div>
      </div>
    </div>
    <div *ngIf="vetting$ | async as vetting;">
      <div *ngIf="vetting.length===0; then empty"></div>
      <div *ngFor="let x of vetting">
        <table class="table table-striped col">
          <tbody>
            <tr>
              <th scope="row">
                Vetting Start Date
              </th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Vetting End Date</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Contract Start Date</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Contract End Date</th>
              <td>Empty</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <h1>Passport</h1>
      <div *ngIf="passport$ | async as passport;">
        <div *ngIf="passport.length===0; then add"></div>
        <div *ngFor="let detail of passport">
          <div *ngIf="detail.submitted === true; then edit"></div>
          <ng-template #edit>
            <button class="btn" mat-raised-button color="primary" (click)="editPassport(detail)">
              Edit
            </button>
          </ng-template>
        </div>
      </div>
    </div>
    <div *ngIf="passport$ | async as passport">
      <div *ngIf="passport.length===0; then empty"></div>
      <div *ngFor="let detail of passport">
        <h2>Identity Documents</h2>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Passport No</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Country of Isuse</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Date of Issue</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Date of Expiry</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Visa Needed</th>
              <td>Empty</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <h1>Extra Documents</h1>
      <div *ngIf="extraDocument$ | async as details;">
        <div *ngIf="details.length===0; then add"></div>
        <div *ngFor="let detail of details">
          <div *ngIf="detail.submitted === true; then edit"></div>
          <ng-template #edit>
            <button class="btn" mat-raised-button color="primary" (click)="editDocument(detail)">
              Edit
            </button>
          </ng-template>
        </div>
      </div>
    </div>
    <div *ngIf="extraDocument$ | async as details;">
      <div *ngIf="details.length===0; then empty"></div>
      <div *ngFor="let detail of details">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">NI Number</th>
              <td>Empty</td>
            </tr>
            <tr>
              <th scope="row">Driving Licence</th>
              <td>Empty</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <h2>SIA Details</h2>
    </div>
    <div>
      <h2>
        Emergency Contacts
      </h2>
    </div>
    <div>
      <h2>
        Tests
      </h2>
    </div>
    <ng-template #add>
      <div>
        <button class="btn" mat-raised-button color="primary" (click)="addDetail()">
          Add
        </button>
      </div>
    </ng-template>
    <ng-template #empty>
      <div class="no-record">There is no record to show.</div>
    </ng-template>
  </div>
</div>