<div class="row mt-4 g-0 align-items-start">

  <div class="col">
    <app-origin></app-origin>
    <app-address></app-address>
    <app-bank-detail></app-bank-detail>
  </div>
  <!-- next column  -->
  <div class="col ms-4">
    <app-info-vetting></app-info-vetting>
    <app-passport></app-passport>
    <app-extra-document></app-extra-document>

    <div>
      <h2>SIA Details</h2>
    </div>
    <div>
      <h2>
        Emergency Contacts
      </h2>
    </div>
    <div>
      <h2>
        Tests
      </h2>
    </div>
    <ng-template #add>
      <div>
        <button class="btn" mat-raised-button color="primary" (click)="addDetail()">
          Add
        </button>
      </div>
    </ng-template>
    <ng-template #empty>
      <div class="no-record">There is no record to show.</div>
    </ng-template>
  </div>
</div>