<div class="container">
  <form [formGroup]="form" class="row py-5">
    <mat-form-field>
      <mat-label class="form-label">Name</mat-label>
      <input
        required
        formControlName="name"
        placeholder="Abc Xyz limited"
        type="text"
        matInput
        class="text-capitalize"
      />
    </mat-form-field>
    <div class="d-flex justify-content-between">
      <mat-form-field class="col">
        <mat-label>Land line</mat-label>
        <input
          required
          formControlName="land_line"
          placeholder="0333 222 3332"
          type="tel"
          pattern="[0-9]*"
          matInput
        />
      </mat-form-field>
      <mat-form-field class="col ms-2">
        <mat-label>Mobile</mat-label>
        <input
          matInput
          formControlName="mobile"
          placeholder="0333 222 3332"
          type="tel"
          pattern="[0-9]*"
        />
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-between">
      <mat-form-field class="col">
        <mat-label>Email</mat-label>
        <input
          matInput
          required
          formControlName="email"
          placeholder="email@example.com"
          type="email"
          style="text-transform: lowercase"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
      </mat-form-field>
      <mat-form-field class="col ms-2">
        <mat-label>Charge Rate</mat-label>
        <input
          matInput
          required
          formControlName="charge_rate"
          placeholder="£16.00"
          type="number"
        />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input
        matInput
        required
        formControlName="address"
        placeholder="33 Sector, road, street"
        class="text-capitalize"
        type="text"
      />
    </mat-form-field>
    <div class="d-flex justify-content-between">
      <mat-form-field class="col">
        <mat-label>City</mat-label>
        <input
          matInput
          required
          formControlName="city"
          placeholder="Greater London"
          class="text-capitalize"
          type="text"
        />
      </mat-form-field>
      <mat-form-field class="col ms-2">
        <mat-label>Post Code</mat-label>
        <input
          matInput
          required
          formControlName="post_code"
          placeholder="LE12 1EE"
          class="text-uppercase"
        />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Reference</mat-label>
      <textarea
        matInput
        formControlName="reference"
        placeholder="Reference"
      ></textarea>
    </mat-form-field>
    <mat-radio-group
      formControlName="is_active"
      aria-labelledby="radio-group-label"
      class="col-4 d-flex justify-content-between"
    >
      <mat-radio-button
        class="radio-button"
        *ngFor="let x of status_list"
        [value]="x.status"
      >
        {{ x.label }}
      </mat-radio-button>
    </mat-radio-group>
    <div class="d-flex justify-content-end">
      <button
        type="button"
        mat-raised-button
        (click)="submit()"
        color="primary"
        class="btn submit col-3"
        [disabled]="!this.form.valid"
      >
        Submit
      </button>
      <button
        type="button"
        mat-raised-button
        (click)="close()"
        color="accent"
        class="btn submit col-3 ms-4"
      >
        Close
      </button>
    </div>
  </form>
</div>
