<div class="container">
  <form [formGroup]="form" class="row py-5">
    <mat-form-field>
      <mat-label class="form-label">First Name</mat-label>
      <input
        required
        formControlName="first_name"
        placeholder="John"
        type="text"
        matInput
        class="text-capitalize"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label class="form-label">Last Name</mat-label>
      <input
        required
        formControlName="last_name"
        placeholder="Spillson"
        type="text"
        matInput
        class="text-capitalize"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Subcontractor</mat-label>
      <mat-select formControlName="subcontractor">
        @for (subcontractor of subcontractors$ | async; track subcontractor) {
        <mat-option [value]="subcontractor.id" class="text-capitalize">{{ subcontractor.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="form-label">Display Name</mat-label>
      <input
        formControlName="display_name"
        type="text"
        matInput
        class="text-capitalize"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pay Rate</mat-label>
      <input
        matInput
        required
        formControlName="pay_rate"
        placeholder="£16.00"
        type="number"
      />
    </mat-form-field>
    <mat-radio-group
      formControlName="is_active"
      aria-labelledby="radio-group-label"
      class="col-4 d-flex justify-content-between"
    >
      @for (item of status_list; track item){
      <mat-radio-button class="radio-button" [value]="item.status">
        {{ item.label }}
      </mat-radio-button>
      }
    </mat-radio-group>
    <div class="d-flex justify-content-end">
      <button
        type="submit"
        mat-raised-button
        (click)="submit()"
        color="primary"
        class="btn submit col-3"
        [disabled]="!this.form.valid"
      >
        Submit
      </button>
      <button
        type="button"
        mat-raised-button
        (click)="close()"
        color="accent"
        class="btn submit col-3 ms-4"
      >
        Close
      </button>
    </div>
  </form>
</div>
