{% extends "base.html" %}
{% load static %}
{% block title %}
  Shifts
{% endblock title %}
{% block extrastyle %}
  <link href="{% static 'vendors/DataTables/datatables.min.css' %}"
        rel="stylesheet" />
  <link href="{% static 'vendors/Editor-2.0.5/css/editor.bootstrap5.min.css' %}"
        rel="stylesheet" />
{% endblock extrastyle %}
{% block content %}
  {% csrf_token %}
  <div class="row">
    <div class="col">
      <div>
        <h1>Shift list</h1>
        <p>There will be a paragraph</p>
      </div>
      <!--
      <div id="customForm">
        <fieldset>
            <legend>Info</legend>
            <div>
              <editor-field name="site"></editor-field>
              <editor-field name="staff"></editor-field>
            </div>
        </fieldset>
        <fieldset>
            <legend>Date</legend>
            <editor-field name="started"></editor-field>
            <editor-field name="ended"></editor-field>
        </fieldset>
        <fieldset>
            <legend>Time</legend>
            <editor-field name="time_in"></editor-field>
            <editor-field name="time_out"></editor-field>
        </fieldset>
      </div>
      -->
      <table id="shifts" class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>End date</th>
            <th>Site id</th>
            <th>Staff id</th>
            <th>Site name</th>
            <th>Staff name</th>
            <th>Date</th>
            <th>Day</th>
            <th>Hours</th>
            <th>Time in</th>
            <th>Time out</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script src="{% static 'vendors/momentjs/moment.min.js' %}"></script>
  <script src="{% static 'vendors/DataTables/pdfmake-0.2.7/pdfmake.min.js' %}"></script>
  <script src="{% static 'vendors/DataTables/pdfmake-0.2.7/vfs_fonts.js' %}"></script>
  <script src="{% static 'vendors/DataTables/datatables.min.js' %}"></script>
  <script src="{% static 'vendors/Editor-2.0.5/js/dataTables.editor.js' %}"></script>
  <script src="{% static 'vendors/Editor-2.0.5/js/dataTables.editor.min.js' %}"></script>
  <script src="{% static 'vendors/Editor-2.0.5/js/editor.bootstrap5.min.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function () {
    var editor; // use a global for the submit and return data rendering in the examples
    let data; // for form submission, get all data
    let modal = $("#add_shift_modal");
    let url = "/update_shift/";
    // get csrf_token
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    // display controller
    (function () {
      var Editor = $.fn.dataTable.Editor;
      Editor.display.halfmoon = $.extend(true, {}, Editor.models.display, {
        // Create the HTML mark-up needed the display controller
        init: function (editor) {
          return Editor.display.halfmoon;
        },

        // Show the form
        open: function (editor, form, callback) {
          // Close any rows which are already open
          Editor.display.halfmoon.close(editor);
          // create(), edit(), and remove()
          switch (editor.mode()) {
            // create
            case "create":
              modal.modal("show");
              //$("#add_shift_modal").addClass("show");
              // block submission by the modal
              $("#create_shift_form").on("submit", function (event) {
                event.preventDefault();
                data = $(this).serializeArray();
                editor.submit();
              });
              break;
            // edit
            case "edit":
              var selectedData = table.rows({ selected: true }).data()[0];
              $("#shift_id").val(selectedData.id);
              $('#update_shift_form select[name="site"]').val(
                selectedData.site_id
              );
              $('#update_shift_form select[name="staff"]').val(
                selectedData.staff[0].id
              );
              $('#update_shift_form select[name="time_in"]').val(
                selectedData.time_in
              );
              $('#update_shift_form select[name="time_out"]').val(
                selectedData.time_out
              );
              // convert date to iso-string and slice only date part
              $('#update_shift_form input[name="started"]').val(
                new Date(selectedData.started).toISOString().slice(0, 10)
              );
              $('#update_shift_form input[name="endend"]').val(
                new Date(selectedData.ended).toISOString().slice(0, 10)
              );

              $("#update_shift_modal").addClass("show");
              // block submission by the modal
              $("#update_shift_form").on("submit", function (event) {
                event.preventDefault();
                editor.submit();
              });
              break;
            default:
              console.log(editor.mode);
            //table.ajax.url("{% url 'shifts:create_shift' %}").load();
          }

          if (callback) {
            callback();
          }
        },

        // Hide the form
        close: function (editor, callback) {
          switch (editor.mode()) {
            case "create":
              $("#add_shift_modal").removeClass("show");
              break;
            case "edit":
              $("#update_shift_modal").removeClass("show");
              break;
            default:
              console.log(editor.mode);
          }
          if (callback) {
            callback();
          }
        },
      });
    })();
    // Datatable editor
    editor = new $.fn.dataTable.Editor({
      //template: '#customForm', // not working as expected
      ajax: {
        create: {
          url: "{% url 'shifts:create_shift' %}",
          type: "POST",
          data: function (d) {
            console.log(d[0]); // {data,}
          },
          headers: {
            "X-CSRFToken": getCookie("csrftoken"),
          },
          mode: "same-origin",
        },
        edit: {
          url: url + "{id}/",
          type: "POST",
          data: function (d) {
            $('input, select', this).each(function() {
              d[$(this).attr('name')] = $(this).val();
            });
          },
          headers: {
            "X-CSRFToken": getCookie("csrftoken"),
          },
          mode: "same-origin",
        },
        remove: {
          url: "",
          type: "DELETE",
        },
        data: function (d) {
          $('input, select', this).each(function() {
            d[$(this).attr('name')] = $(this).val();
          });
        },
        headers: {
          "X-CSRFToken": getCookie("csrftoken"),
        },
        mode: "same-origin",
      },
      table: "#shifts",
      //display: "halfmoon",
      idSrc: "id",
      fields: [
        {
          label: "Site name",
          name: "site",
          type: "select",
          options: [
            {label: "Select site", value: ""},
            {% for site in sites %}
            {label: '{{ site.name | title }}', value: '{{ site.id }}'},
            {% endfor %}
          ],
        },
        {
          label: "Staff name",
          name: "staff",
          type: "select",
          options: [
            {label: "Select staff", value: ""},
            {% for staff in guards %}
            {label: '{{ staff.name | title }}', value: '{{ staff.id }}'},
            {% endfor %}
          ],
        },
        {
          label: "Starting date",
          name: "started",
          type: "datetime",
          def: function () {
            return new Date();
          },
          displayFormat: 'DD/MM/YYYY',
        },
        {
          label: "Ending date",
          name: "ended",
          type: "datetime",
          def: function () {
            return new Date();
          },
          displayFormat: 'DD/MM/YYYY',
        },
        {
          label: "Time in",
          name: "time_in",
          type: "select",
          options: [
            {label: "Time in", value: ""},
            {% for hour in hours %}
              {% for minute in minutes %}
              {
                label:'{{ hour|stringformat:"02d" }}:{{ minute }}',
                value:'{{ hour|stringformat:"02d" }}:{{ minute }}'
              },
              {% endfor %}
            {% endfor %}
          ],
        },
        {
          label: "Time out",
          name: "time_out",
          type: "select",
          options: [
            {label: "Time out", value: ""},
            {% for hour in hours %}
              {% for minute in minutes %}
              {
                label:'{{ hour|stringformat:"02d" }}:{{ minute }}',
                value:'{{ hour|stringformat:"02d" }}:{{ minute }}'
              },
              {% endfor %}
            {% endfor %}
          ],
        },
      ],
    });
    // ------- Actions -------
    editor.on("open", function (e, mode, action) {
      // create(), edit(), and remove()
      if ( action === "edit") {
        // get selected row
        var selectedData = table.rows({ selected: true }).data()[0];
        var siteField = editor.field("site");
        siteField.val(selectedData.site_id);
        var staffField = editor.field("staff");
        staffField.val(selectedData.staff[0].id);
        var startDate = editor.field("started");
        startDate.val(moment(selectedData.started).format("DD/MM/YYYY"));
        //startDate.val(new Date(selectedData.started).toISOString().slice(0, 10));
        var endDate = editor.field("ended");
        endDate.val(moment(selectedData.ended).format("DD/MM/YYYY"));
        //endDate.val(new Date(selectedData.ended).toISOString().slice(0, 10));
      }

    });

    // datatable
    var table = $("#shifts").DataTable({
      dom: '<<"mb-4"B><"d-flex justify-content-between mb-2"lf>rtip>',
      responsive: true,
      lengthMenu: [25, 50, 75, 100],
      fixedHeader: {
        //not working
        header: true,
        headerOffset: $("#navbar").outerHeight() + 10,
      },
      select: true,
      /*
        search: true, //  not working
        processing: true, //  not working
        serverSide: true, //  not working
        */
      ajax: {
        url: "{% url 'shifts:get_shifts' %}",
        dataSrc: "data",
      },
      rowId: "id",
      columns: [
        {
          data: null,
          defaultContent: "",
          className: "select-checkbox",
          orderable: false,
          searchable: false,
        },
        { data: "id", visible: false, searchable: false, orderable: false },
        {
          data: "ended",
          visible: false,
          searchable: false,
          orderable: false,
          render: DataTable.render.datetime("DD/MM/YYYY"),
        },
        {
          data: "site_id",
          visible: false,
          searchable: false,
          orderable: false,
        },
        {
          data: "staff[0].id",
          visible: false,
          searchable: false,
          orderable: false,
        },
        { data: "site", className: "text-capitalize" },
        {
          data: "staff[0].name",
          //render: renderStaffNames, //searching is not working change data to staff
          className: "text-capitalize",
        }, // only one staff name working
        {
          data: "started",
          render: DataTable.render.datetime("DD/MM/YYYY")
        },
        { data: "day", orderable: false },
        { data: "duration", orderable: false },
        { data: "time_in", orderable: false },
        { data: "time_out", orderable: false },
      ],
      //table.buttons
      buttons: [
        {
          extend: "create",
          text: "Add",
          className: "btn",
          editor: editor,
        },
        {
          extend: "edit",
          className: "btn",
          editor: editor,
        },
        {
          extend: "remove",
          className: "btn",
          editor: editor,
        },
        {
          extend: "collection",
          text: "Export",
          className: "btn",
          buttons: [
            {
              extend: "copyHtml5",
              text: '<i class="fa fa-files-o"></i> Copy',
              titleAttr: "Copy",
            },
            {
              extend: "excelHtml5",
              text: '<i class="fa fa-file-excel-o"></i> Excel',
              titleAttr: "Excel",
            },
            {
              extend: "csvHtml5",
              text: '<i class="fa fa-file-text-o"></i> CSV',
              titleAttr: "CSV",
            },
            {
              extend: "pdfHtml5",
              text: '<i class="fa fa-file-pdf-o"></i> PDF',
              titleAttr: "PDF",
            },
          ],
        },
      ],
    }); // datatable
  }); // Jquery
  </script>
{% endblock scripts %}
