{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ title | title }}
{% endblock title %}
{% block extrastyle %}
  <!-- Aditional styles-->
  <link rel="stylesheet"
        href="{% static 'vendors/DataTables/datatables.css' %}" />
  <link rel="stylesheet"
        href="{% static 'vendors/Editor-2.0.5/css/editor.dataTables.min.css' %}" />
{% endblock extrastyle %}
{% block modal %}
  {% include "shifts/add_modal.html" %}
  {% include "modal/confirm.html" %}
{% endblock modal %}
{% block content %}
  {% csrf_token %}
  <div class="row">
    <div class="col">
      <div class="content">
        <h1 class="content-title">{{ title | title }}</h1>
        <p>There will be a paragraph</p>
      </div>
      <div class="card p-0">
        <div class="content">
          <table id="shifts" class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>End date</th>
                <th>Site id</th>
                <th>Site name</th>
                <th>Date</th>
                <th>Day</th>
                <th>Hours</th>
                <th>Time in</th>
                <th>Time out</th>
                <th>Active</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script src="{% static 'vendors/momentjs/moment.min.js' %}"></script>
  <script src="{% static 'vendors/DataTables/pdfmake-0.2.7/pdfmake.min.js' %}"></script>
  <script src="{% static 'vendors/DataTables/pdfmake-0.2.7/vfs_fonts.js' %}"></script>
  <script src="{% static 'vendors/DataTables/datatables.min.js' %}"></script>
  <script src="{% static 'vendors/Editor-2.0.5/js/dataTables.editor.js' %}"></script>
  <script src="{% static 'js/controller.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      /**
       * variables
       */
      var editor; // use a global for the submit and return data rendering in the examples
      let data, // for form submission, get all data
        tableId = "#shifts", // using string
        update_url = "/update_shift/", // need url in string form for adding id
        delete_url = "/delete_shift/",
        form = $("#shift_form"), // form
        modal = $("#add_shift_modal"), // add shift modal
        confirmModal = $("#confirm_modal"),
        site = $('#shift_form select[name="site"]'),
        timeIn = $('#add_shift_modal select[name="time_in"]'),
        timeOut = $('#add_shift_modal select[name="time_out"]'),
        started = $('#shift_form input[name="started"]'),
        ended = $('#shift_form input[name="ended"]'),
        duration = $("#duration"),
        days = $("#days");

      /**
       * unhide #days parents
       */
      function unhideDaysParent() {
        days
          .parent()
          .removeClass()
          .addClass("form-row days d-flex justify-content-between");
      }

      /**
       * unhide #days parents
       */
      function resetDays() {
        let days = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"];
        for (let i = 0; i < days.length; i++) {
          $("#" + days[i])
            .parent()
            .removeClass("bg-primary");
        }
      }
      /**
       * calculate duration in hours
       */
      $(document.body).on("change", "select.time_in, select.time_out", function () {
        var timeInValue = timeIn.val();
        var timeOutValue = timeOut.val();

        if (timeInValue && timeOutValue) {
          var hours =
            parseInt(timeOutValue.split(":")[0], 10) -
            parseInt(timeInValue.split(":")[0], 10) +
            (parseInt(timeOutValue.split(":")[1], 10) -
              parseInt(timeInValue.split(":")[1], 10)) /
              60;

          if (hours < 0) {
            hours += 24;
          }

          duration.html(hours + " hours");
        }
      });

      /**
       * add primary background to selected day
       * @param {date} date selected date
       * @var {string} dayOfWeek selected day
       */
      function addPrimaryBackground(date) {
        var dayOfWeek = moment(date).format("ddd").toLowerCase();
        $("#" + dayOfWeek)
          .parent()
          .addClass("bg-primary");
      }

      /**
       * check if started, ended changed
       */
      $(document.body).on("change", ".started, .ended", function () {
        // reset days
        resetDays();

        if (started.val()) {
          ended.attr("min", started.val());
          currentDate = started.val();
          addPrimaryBackground(currentDate);
        }

        if (ended.val()) {
          started.attr("max", ended.val());
          var currentDate = moment(started.val(), "YYYY-MM-DD").add(1, "days");
          var endDate = moment(ended.val(), "YYYY-MM-DD");
          while (currentDate <= endDate) {
            addPrimaryBackground(currentDate);
            currentDate = moment(currentDate).add(1, "days");
          }
        }
      });

      /**
       * edit modal in function
       */
      function createModal() {
        // reset form
        form[0].reset();
        days.removeClass("bg-primary");
        // unhide #days parent
        unhideDaysParent();
        // reset ended
        ended.parent().removeClass().addClass("col");
        // check attributes
        if (ended.prop("required", false)) {
          ended.prop("required", true);

          // reset duration
          duration.html("0 hour");
        }
        modal.addClass("show");
      }

      /**
       * edit modal in function
       */
      function editModal() {
        // variables
        var selectedData = table.rows({ selected: true }).data()[0];
        var siteId = $("#shift_id");

        // reset form
        form[0].reset();
        days.parent().removeClass().addClass("d-none");
        //remove ended
        ended.parent().removeClass().addClass("d-none");

        // check attributes
        if (ended.prop("required", true)) {
          ended.prop("required", false);
        }

        // assign values
        siteId.val(selectedData.id);
        site.val(selectedData.site_id);
        timeIn.val(moment(selectedData.started).format("HH:mm"));
        timeOut.val(moment(selectedData.ended).format("HH:mm"));
        // convert date to iso-string and slice only date part
        started.val(new Date(selectedData.started).toISOString().slice(0, 10));

        // trigger change
        timeIn.trigger("change");
        timeOut.trigger("change");

        modal.addClass("show");
        // block submission by the modal
      }

      /**
       * remove function
       */
      function removeFunction() {
        confirmModal.addClass("show");
        $("#confirm").on("submit", function (event) {
          event.preventDefault();
          editor.submit();
        });
      }

      /**
       * format form data
       * @param {object} d form data object
       * @var {object} data data object
       */
      function formatData(d) {
        data.forEach(function (e) {
          d[e.name] = e.value;
        });
      }

      /**
       * datatable editor
       */
      editor = new $.fn.dataTable.Editor({
        ajax: {
          create: {
            url: '{% url "shifts:create_shift" %}',
            type: "POST",
            data: function (d) {
              formatData(d);
            },
            error: function (xhr, status, err) {
              responseHandler(xhr, status, err, "danger");
            },
            success: function (xhr, status, err) {
              responseHandler(xhr, status, err, "success");
            },
            headers: {
              "X-CSRFToken": getCookie("csrftoken"),
            },
            mode: "same-origin",
          },
          edit: {
            url: update_url + "{id}/",
            type: "POST",
            data: function (d) {
              formatData(d);
            },
            error: function (xhr, status, err) {
              responseHandler(xhr, status, err, "danger");
            },
            success: function (xhr, status, err) {
              responseHandler(xhr, status, err, "success");
            },
            headers: {
              "X-CSRFToken": getCookie("csrftoken"),
            },
            mode: "same-origin",
          },
          remove: {
            url: delete_url + "{id}/",
            type: "POST",
            headers: {
              "X-CSRFToken": getCookie("csrftoken"),
            },
            mode: "same-origin",
          },
        },
        table: tableId,
        display: "halfmoon", // display controller
        idSrc: "id",
        fields: [
          {
            label: "Site name",
            name: "site",
          },
          {
            label: "Starting date",
            name: "started",
          },
          {
            label: "Ending date",
            name: "ended",
          },
          {
            label: "Starting time",
            name: "time_in",
          },
          {
            label: "Ending time",
            name: "time_out",
          },
        ],
      });

      /**
       * editor modes, create(), edit() and remove()
       * events, open(), close()
       */
      editor
        .on("open", function () {
          switch (editor.mode()) {
            // create
            case "create":
              createModal();
              break;
            // edit
            case "edit":
              editModal();
              break;
            case "remove":
              removeFunction();
              break;
            //table.ajax.url('{% url 'shifts:create_shift' %}').load();
          }
        })
        .on("close", function () {
          switch (editor.mode()) {
            case "create":
              modal.removeClass("show");
              form[0].reset();
              break;
            case "edit":
              modal.removeClass("show");
              form[0].reset();
              break;
            case "remove":
              confirmModal.removeClass("show");
              break;
          }
        });

      /**
       * datatable using let will stop ajax.reload(),
       * so use var
       */
      var table = $(tableId).DataTable({
        dom: "Bflrtip",
        responsive: true,
        lengthMenu: [25, 50, 75, 100],
        fixedHeader: {
          //not working
          header: true,
          headerOffset: $("#navbar").outerHeight() + 10, // not working or wip
        },
        select: true,
        /*
          search: true, //  not working
          processing: true, //  not working
          serverSide: true, //  not working
          */
        ajax: {
          url: '{% url "shifts:get_shifts" %}',
          dataSrc: "data",
        },
        rowId: "id",
        columnDefs: [
          {
            targets: [0, 1, 2, 3],
            orderable: false,
            searchable: false,
          },
          {
            targets: [1, 2, 3],
            visible: false,
          },
          {
            targets: 4, // site name
            className: "text-capitalize",
          },
          {
            targets: [3, 5], // started and ended
            render: DataTable.render.datetime("DD/MM/YYYY"),
          },
          {
            targets: 6,
            render: DataTable.render.datetime("dddd"),
          },
          {
            targets: [6, 7, 8, 9],
            orderable: false,
          },
          {
            targets: [8, 9],
            render: DataTable.render.datetime("HH:mm"),
          },
        ],
        columns: [
          {
            //0
            data: null,
            defaultContent: "",
            className: "select-checkbox",
          },
          { data: "id" }, //1
          { data: "ended" }, //2
          { data: "site_id" }, //3
          { data: "site" }, //4
          { data: "started" }, //5 // date
          { data: "started" }, //6 // day
          { data: "duration" }, //7
          { data: "started" }, //8 // time_in
          { data: "ended" }, //9 // time_out
          {
            // 10
            data: "is_active",
            render: function (data, type, row) {
              return data ? "Yes" : "No";
            },
          },
        ],
        //table.buttons
        buttons: [
          {
            extend: "create",
            text: "Add",
            className: "btn",
            editor: editor,
          },
          {
            extend: "edit",
            className: "btn",
            editor: editor,
          },
          {
            extend: "remove",
            text: "Disable",
            className: "btn",
            editor: editor,
          },
          {
            extend: "collection",
            text: "Export",
            className: "btn",
            buttons: [
              {
                extend: "copyHtml5",
                text: '<i class="fa fa-files-o"></i> Copy',
                titleAttr: "Copy",
              },
              {
                extend: "excelHtml5",
                text: '<i class="fa fa-file-excel-o"></i> Excel',
                titleAttr: "Excel",
              },
              {
                extend: "csvHtml5",
                text: '<i class="fa fa-file-text-o"></i> CSV',
                titleAttr: "CSV",
              },
              {
                extend: "pdfHtml5",
                text: '<i class="fa fa-file-pdf-o"></i> PDF',
                titleAttr: "PDF",
              },
            ],
          },
        ],
      }); // datatable
      //table.buttons().container().appendTo( $('#content-title') ); //append to html

      /**
       * submit function for form
       * @param {Object} event event
       * @var {object} data form data
       * @var {*} editor editor instance
       * @var {*} table table instance
       */
      form.on("submit", function (event) {
        event.preventDefault();
        data = $(this).serializeArray();
        editor.submit();
        // reload
        table.ajax.reload();
      });
    }); // Jquery
  </script>
{% endblock scripts %}
