@if (isLogedIn$ | async) {
<mat-toolbar color="primary">
  <img
    src="assets/android-chrome-512x512.png"
    alt="Walinzi"
    width="30px"
    height="30px"
  />
  <span class="px-2">Walinzi</span>
  <span class="spacer"></span>
  <!-- <a routerLink="client">
    <button mat-flat-button color="primary" onclick="" *ngIf="_user?.is_superuser">Client</button>
  </a> -->
  <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
    Manage
  </button>
  <mat-menu #menu="matMenu" yPosition="below">
    <button mat-menu-item [routerLink]="['/customer']">Customer</button>
    <button mat-menu-item [routerLink]="['/location']">Location</button>
    <button mat-menu-item [routerLink]="['/subcontractor']">
      Subcontractor
    </button>
    <button mat-menu-item [routerLink]="['/sign-out']">Sign-out</button>
  </mat-menu>
  <button mat-flat-button color="primary" [matMenuTriggerFor]="settingMenu">
    Setting
  </button>
  <mat-menu #settingMenu="matMenu" yPosition="below">
    <button mat-menu-item [routerLink]="['/setting/profile']">Profile</button>
  </mat-menu>
</mat-toolbar>
}
