<!-- Confirm modal start-->
<div class="modal"
     id="confirm_modal"
     tabindex="-1"
     role="dialog"
     data-overlay-dismissal-disabled="true"
     data-esc-dismissal-disabled="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#"
         class="close"
         role="button"
         aria-label="Close"
         data-dismiss="modal">
        <span aria-hidden="true">×</span>
      </a>
      <h5 class="modal-title">Confirmation</h5>
      <p>Please note that next step will remove this record permanantly</p>
      <p>Are you sure you want to proceed?</p>
      <div class="text-right mt-20">
        <a href="#" class="btn mr-5" data-dismiss="modal" role="button">Cancel</a>
        <a href="#" class="btn btn-primary" role="button" id="confirm">I understand, yes</a>
      </div>
    </div>
  </div>
</div>
<!-- Confirm modal end-->
