{% extends 'base.html' %}

{% block title %}Create Users{% endblock title %}

{% block content %}
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{user.email}}</td>
          <td>{{user.activation_link}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary" type="submit">Save</button>
  </form>
{% endblock content %}
