.container {
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .to-right {
        align-self: flex-end;
        margin-bottom: 20px;

        .btn-edit{
            margin-left: 10px;
        }
    }
}
