<div class="mt-4" *ngFor="let sub of sub$">
  <div>
    <h1 class="text-capitalize">{{sub.name}}</h1>
    <p><b>Address:</b>&nbsp;<span class="text-capitalize">{{sub.first_line}}</span>,&nbsp;<span
        class="text-capitalize">{{sub.second_line}}</span>,&nbsp;<span class="text-uppercase">{{sub.post_code}}</span>
      </p>
      <p><b>Created By:</b>&nbsp;Name</p>
  </div>
</div>
<mat-tab-group class="mt-4">
  <mat-tab label="Details">
    <app-tab-detail></app-tab-detail>
  </mat-tab>
  <mat-tab label="Notes">
    <app-tab-notes></app-tab-notes>
  </mat-tab>
  <mat-tab label="Documents">
    <app-tab-docs></app-tab-docs>
  </mat-tab>
  <mat-tab label="Staff">
    <app-tab-staff></app-tab-staff>
  </mat-tab>
  <mat-tab label="Sites">
    <app-tab-sites></app-tab-sites>
  </mat-tab>
  <mat-tab label="Timesheets">
    <app-tab-timesheets></app-tab-timesheets>
  </mat-tab>
</mat-tab-group>