<div id="password" class="tab-panel">
    <form method="post" id="password">
        <div class="row">
            <div class="col-xl-7 form-group">
                <h4>Reset password</h4>
                <div class="form-group">
                    <label for="password1" class="required">Old password</label>
                    <input type="password"
                           name="password1"
                           class="form-control"
                           id="password1"
                           placeholder="Old password"
                           maxlength="50"
                           required/>
                </div>
                <div class="form-group" id="new-password-container">
                    <label for="password2" class="required">New password</label>
                    <input type="password"
                           name="password2"
                           class="form-control"
                           id="password2"
                           placeholder="New password"
                           maxlength="50"
                           required/>
                </div>
                <div class="form-group" id="confirmed-password-container">
                    <label for="password3" class="required">Confirm Password</label>
                    <input type="password"
                           name="password3"
                           class="form-control"
                           id="password3"
                           placeholder="Confirm Password"
                           maxlength="50"
                           required/>
                    <div class="invalid-feedback d-none mt-10" id="not-matching-password">
                        Passwords are not matching
                    </div>
                    <div class="invalid-feedback d-none mt-10" id="password-validation-error">
                        Please also make sure your password has at least
                        <ul>
                            <li>One number</li>
                            <li>12 characters long</li>
                            <li>One of uppercase letters</li>
                        </ul>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary"
                            type="submit"
                            name="user_password"
                            disabled>
                        Save
                    </button>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="content">
                    <h4 class="content-title">Guidelines</h4>
                    <p class="text-justify">
                        A strong password helps protect your account. Follow these guidelines:
                    </p>
                    <ul>
                        <li>Use a unique password</li>
                        <li>Use at least <strong>12 characters</strong></li>
                        <li>Don't use common words or phrases</li>
                        <li>Include a mix of uppercase and lowercase letters</li>
                        <li>Include numbers and special characters (e.g., !, @, #, $)</li>
                        <li>Avoid using easily guessable information like birthdays or names</li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
