{% extends 'base.html' %}
{% load static %}
{% block title %}{{customer.name|title}}{% endblock title %}
{% block content %}
<div class="row mt-4 mb-2">
  <h1 class="text-capitalize">{{customer.name}}</h1>
  <div><a href="/create_user/{{customer.id}}/">create user</a></div>
</div>
<div class="row">
  {% include "customers/address.html" %}
  {% include "customers/info.html" %}
</div>
<div class="row">
  {% include "customers/phone.html" %}
  {% include "customers/email.html" %}
</div>
<div class="row">
  {% include "customers/notes.html" %}
</div>
{% endblock content %}
