{% extends 'base.html' %}
{% load static %}
{% block title %}Customers{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-xl-8">
    <div class="content">
      <h1 class="content-title">Customer list</h1>
      <p>There will be a paragraph</p>
    </div>
    <div class="card p-0">
      <div class="content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Customer Name</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>
                <a href="./customer_detail/{{customer.id}}" class="hyperlink">
                  {{ customer.name | title }}</a
                >
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="2">No customer is available</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="content">
      <h2 class="content-title">Add a new customer</h2>
      <p class="text-justify">
        At this stage only customer name is required. After adding, you can
        further add information about customer.
      </p>
    </div>
    <div class="card p-0">
      <div class="content">
        <form method="post">
          <div class="form-group">
            {% csrf_token %}
            <label for="customer-name" class="required">{{ form.name.label }}</label>
            <input
              type="text"
              name="name"
              class="form-control text-capitalize"
              id="customer-name"
              placeholder="Name"
              maxlength="150"
              required
            />
          </div>
          {% if form.errors %} {{form.errors}} {% endif%}
          <button class="btn btn-primary btn-block" type="submit">Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
