<div class="d-flex justify-content-between mt-2">
  <h1>Passport</h1>
  <div *ngIf="passport$ | async as passport;">
    <div *ngIf="passport.length===0; then add"></div>
    <ng-template #add>
      <div>
        <mat-icon mat-raised-button class="me-4 myIcon" aria-hidden="false" aria-label="add icon" fontIcon="add_box"
        (click)="addDetail()" color="primary"></mat-icon>
      </div>
    </ng-template>
    <div *ngFor="let detail of passport">
      <div *ngIf="detail.submitted === true; then edit"></div>
      <ng-template #edit>
        <mat-icon mat-raised-button class="ms-4" aria-hidden="false" aria-label="create icon" fontIcon="create"
        (click)="editDetail(detail)" style="cursor: pointer" color="primary"></mat-icon>
        <mat-icon mat-raised-button class="ms-4" aria-hidden="false" aria-label="delete icon" fontIcon="delete"
        (click)="delete(detail.id)" style="cursor: pointer" color="warn"></mat-icon>
      </ng-template>
    </div>
  </div>
</div>
<div *ngIf="passport$ | async as passport">
  <div *ngIf="passport.length===0; then empty"></div>
  <div *ngFor="let detail of passport">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Passport No</th>
          <td class="text-uppercase">{{detail.passport_no}}</td>
        </tr>
        <tr>
          <th scope="row">Country of Isuse</th>
          <td class="text-capitalize">{{detail.country_of_issue}}</td>
        </tr>
        <tr>
          <th scope="row">Visa Needed</th>
          <td class="text-capitalize">{{detail.visa}}</td>
        </tr>
        <tr>
          <th scope="row">Date of Issue</th>
          <td>{{detail.issued.toDate() | date: 'dd MMM, y'}}</td>
        </tr>
        <tr>
          <th scope="row">Date of Expiry</th>
          <td>{{detail.expired.toDate() | date: 'd MMM, y'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <div class="no-record">There is no record to show.</div>
  </ng-template>
</div>