<div class="mt-4" *ngIf="site$ | async as sites">
  <div *ngFor="let site of sites">
    <div>
      <h1 class="text-capitalize">{{site.name}}</h1>
      <p><b>Address:</b>&nbsp;<span class="text-capitalize">{{site.address}},</span>&nbsp;<span
          class="text-uppercase">{{site.post_code}}</span></p>
    </div>
    <div  *ngIf="client$ | async as clients">
      <div class="d-flex" *ngFor="let client of clients">
        <p class="text-capitalize"><b>Client:</b>&nbsp;{{client.name}}</p>
        <p class="ms-2 text-capitalize"><b>Created By:</b>&nbsp;Name</p>
      </div>
    </div>
  </div>
</div>
<mat-tab-group class="mt-4">
  <mat-tab label="Information">
    <app-site-tab-info [clientId$]="clientId" [siteId$]="siteId"></app-site-tab-info>
  </mat-tab>
  <mat-tab label="Extra Details">
    <app-site-tab-extra [siteId$]="siteId"></app-site-tab-extra>
  </mat-tab>
  <mat-tab label="Notes">
    <app-site-tab-notes [siteId$]="siteId"></app-site-tab-notes>
  </mat-tab>
  <mat-tab label="Rate Card">
    <app-site-tab-rate [siteId$]="siteId"></app-site-tab-rate>
  </mat-tab>
  <mat-tab label="Documents">
    <app-site-tab-docs></app-site-tab-docs>
  </mat-tab>
  <mat-tab label="Preferred Staff">
    <app-site-tab-staff></app-site-tab-staff>
  </mat-tab>
  <mat-tab label="Timesheet">
    <app-site-tab-timesheet></app-site-tab-timesheet>
  </mat-tab>
</mat-tab-group>