form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
}

.radio-button:nth-child(2) {
  margin-left: 100px;
}

.mat-select-value {
  .ng-star-inserted {
    text-transform: capitalize;
  }
}
