<form [formGroup]="form" class="row">
  <mat-form-field appearance="fill">
    <mat-label>Vetting Start Date</mat-label>
    <div *ngIf="data.vetting_started === undefined; then noDate else withDate"></div>
    <ng-template #noDate>
      <input matInput [matDatepicker]="startdatepicker" formControlName="vetting_started">
    </ng-template>
    <ng-template #withDate>
      <input matInput [matDatepicker]="startdatepicker" formControlName="vetting_started" value="vetting_started.value">
    </ng-template>
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="startdatepicker"></mat-datepicker-toggle>
    <mat-datepicker #startdatepicker>
      <mat-datepicker-toggle matSuffix [for]="startdatepicker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
    </mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Contract Start Date</mat-label>
    <div *ngIf="data.contract_started === undefined; then thereNODate else thereIsDate"></div>
    <ng-template #thereNODate>
      <input matInput [matDatepicker]="contractstartdate" formControlName="contract_started">
    </ng-template>
    <ng-template #thereIsDate>
      <input matInput [matDatepicker]="contractstartdate" formControlName="contract_started" value="contract_started.value">
    </ng-template>
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="contractstartdate"></mat-datepicker-toggle>
    <mat-datepicker #contractstartdate>
      <mat-datepicker-toggle matSuffix [for]="contractstartdate">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
    </mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Contract Finished Date</mat-label>
    <div *ngIf="data.contract_finished === undefined; then thereisNoDate else thereIsADate"></div>
    <ng-template #thereisNoDate>
      <input matInput [matDatepicker]="contractfinishdate" formControlName="contract_finished">
    </ng-template>
    <ng-template #thereIsADate>
      <input matInput [matDatepicker]="contractfinishdate" formControlName="contract_finished" value="contract_finished.value">
    </ng-template>
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="contractfinishdate"></mat-datepicker-toggle>
    <mat-datepicker #contractfinishdate>
      <mat-datepicker-toggle matSuffix [for]="contractfinishdate">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
    </mat-datepicker>
  </mat-form-field>
  <div class="d-flex justify-content-end mt-4">
    <button type="button" mat-raised-button (click)="submit()" color="primary" class="submit col-3"
      [disabled]="!this.form.valid">
      Submit
    </button>
    <button type="button" mat-raised-button (click)="close()" color="accent" class="submit col-3 ms-4">
      Close
    </button>
  </div>
</form>