<div class="row mt-4 g-0 align-items-start">
  <table class="col table table-striped">
    <tbody>
      <tr>
        <td scope="row">Total Shifts</td>
        <td>0</td>
      </tr>
      <tr>
        <td scope="row">Hours</td>
        <td>0</td>
      </tr>
      <tr>
        <td scope="row">Break Hours</td>
        <td>0</td>
      </tr>
      <tr>
        <td scope="row">Additional Hours</td>
        <td>0</td>
      </tr>
      <tr>
        <td scope="row">Total Hours</td>
        <td>0</td>
      </tr>
      <tr>
        <td scope="row">Invoice</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
  <table class="col table table-striped ms-4">
    <tbody>
      <tr>
        <td scope="row">Hours Worked</td>
        <td>0</td>
      </tr>
      <tr>
        <td scope="row">Officer Wages</td>
        <td>0</td>
      </tr>
      <tr>
        <td scope="row">Cancelled Shifts</td>
        <td>0</td>
      </tr>
      <tr>
        <td scope="row">Expenses</td>
        <td>0</td>
      </tr>
      <tr>
        <td scope="row">Wages</td>
        <td>0</td>
      </tr>
      <tr>
        <td scope="row">Profit</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>
