<div class="d-flex justify-content-between mt-2">
  <h1>Address</h1>
  <div>
    <mat-icon mat-raised-button class="ms-4 myIcon" aria-hidden="false" aria-label="add icon" fontIcon="add_box"
    (click)="addDetail()" color="primary"></mat-icon>
  </div>
</div>
<div *ngIf="staffAddress$ | async as addresses">
  <div *ngIf="addresses.length===0; then empty"></div>
  <div *ngFor="let address of addresses; let index = index">
    <span class="fs-5">Address No. {{index + 1}}</span>
    <mat-icon mat-raised-button class="ms-4 editIcon" aria-hidden="false" aria-label="create icon" fontIcon="create"
    (click)="editDetail(address)" color="primary"></mat-icon>
    <mat-icon mat-raised-button class="ms-2 editIcon" aria-hidden="false" aria-label="delete icon" fontIcon="delete"
    (click)="delete(address.id)" color="warn"></mat-icon>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Address</th>
          <td class="text-capitalize">{{address.address}}</td>
        </tr>
        <tr>
          <th scope="row">Post Code</th>
          <td class="text-uppercase">{{address.post_code}}</td>
        </tr>
        <tr>
          <th scope="row">City</th>
          <td class="text-capitalize">{{address.city}}</td>
        </tr>
        <tr>
          <th scope="row">Living From</th>
          <td>{{address.living_from.toDate() | date: 'd MMM, y'}}</td>
        </tr>
        <tr>
          <th scope="row">Living To</th>
          <td>{{address.living_to.toDate() | date: 'd MMM, y'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <div class="no-record">There is no record to show.</div>
  </ng-template>
</div>