<div class="row mt-4 g-0 align-items-start">
  <div class="col">
    <!-- left side -->
    <div class="d-flex justify-content-between">
      <h1>Extra Details</h1>
      <div *ngIf="(detail?.length == 0) then add"></div>
      <div *ngFor="let record of detail" #showData>
        <div *ngIf="(record?.submitted === true) then edit else add"></div>
      </div>
      <ng-template #edit>
        <button class="btn" mat-raised-button color="primary" (click)="editDetails()">
          Edit
        </button>
      </ng-template>
      <ng-template #add>
        <div>
          <button class="btn" mat-raised-button color="primary" (click)="addDetail()">
            Add
          </button>
        </div>
      </ng-template>
    </div> <!-- top -->
    <div class="col-12" *ngIf="(detail?.length===0) then empty else detailData"></div>
    <ng-template #detailData>
      <ng-container *ngFor="let record of detail">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Vat Number</th>
              <td class="text-end">{{record.vat}}</td>
            </tr>
            <tr>
              <th scope="row">Website</th>
              <td class="text-end">{{record.website}}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-template>
    <ng-template #empty>
      <div class="mt-4">
        There is no record to show.
      </div>
    </ng-template>
  </div><!-- left side -->
  <div class="col ms-4">
    <!-- right side -->
    <div class="d-flex justify-content-between">
      <!-- top -->
      <h1>Contact Person</h1>
      <div>
        <button class="btn my-btn" mat-raised-button color="primary" (click)="addContact()">
          Add
        </button>
      </div>
    </div><!-- top -->
    <div class="col-12" *ngIf="contact?.length == 0; then thisrow else contactData"></div>
    <ng-template #contactData>
      <ng-container>
        <table class="table table-striped">
          <tbody *ngFor="let contact$ of contact">
            <tr>
              <th scope="row">Name</th>
              <td class="text-end">{{contact$.name}}</td>
            </tr>
            <tr>
              <th scope="row">Phone Number</th>
              <td class="text-end">{{contact$.phone}}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-template>
    <ng-template #thisrow>
      <div class="no-record">
        There is no record to show.
      </div>
    </ng-template>
  </div><!-- right side -->
</div>