<div class="d-flex justify-content-between mt-2">
  <h1>Address</h1>
  <div>
    <button class="btn my-btn" mat-raised-button color="primary" (click)="addDetail()">
      Add
    </button>
  </div>
</div>
<div *ngIf="staffAddress$ | async as addresses">
  <div *ngIf="addresses.length===0; then empty"></div>
  <div>
    <table class="table table-striped" *ngFor="let address of addresses">
      <tbody>
        <tr>
          <th scope="row">Address</th>
          <td class="text-capitalize">{{address.address}}</td>
        </tr>
        <tr>
          <th scope="row">Post Code</th>
          <td class="text-uppercase">{{address.post_code}}</td>
        </tr>
        <tr>
          <th scope="row">City</th>
          <td class="text-capitalize">{{address.city}}</td>
        </tr>
        <tr>
          <th scope="row">Living From</th>
          <td>{{address.living_from.toDate() | date: 'd MMM, y'}}</td>
        </tr>
        <tr>
          <th scope="row">Living To</th>
          <td>{{address.living_to.toDate() | date: 'd MMM, y'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <div class="no-record">There is no record to show.</div>
  </ng-template>
</div>