<div class="d-flex justify-content-between mt-2">
  <h1>Bank Details</h1>
  <div>
    <button class="btn my-btn" mat-raised-button color="primary" (click)="addDetail()">
      Add
    </button>
  </div>
</div>
<div *ngIf="StaffBankDetail$ | async as details;">
  <div *ngIf="details.length===0; then empty"></div>
  <div *ngFor="let detail of details">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Bank Name</th>
          <td>{{detail.bank_name}}</td>
        </tr>
        <tr>
          <th scope="row">Account Title</th>
          <td>{{detail.account_title}}</td>
        </tr>
        <tr>
          <th scope="row">Account Sort Code</th>
          <td>{{detail.sort_code}}</td>
        </tr>
        <tr>
          <th scope="row">Account Number</th>
          <td>{{detail.sort_code}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <div class="no-record">There is no record to show.</div>
  </ng-template>
</div>