<div class="row mt-4 g-0 align-items-start">
  <div class="col">
    <!-- left side -->
    <div class="d-flex justify-content-between">
      <h1>Extra Details</h1>
      <div *ngIf="detail$ | async as details;">
        <div *ngIf="details.length===0; then add"></div>
        <div *ngFor="let detail of details">
          <div *ngIf="detail.submitted === true; then edit"></div>
          <ng-template #edit>
            <button class="btn" mat-raised-button color="primary" (click)="editDetails(detail)">
              Edit
            </button>
          </ng-template>
        </div>
      </div>
    </div>
    <div *ngIf="detail$ | async as details;">
      <div *ngIf="details.length===0; then empty"></div>
      <div *ngFor="let detail of details">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Vat Number</th>
              <td class="text-end">{{detail.vat}}</td>
            </tr>
            <tr>
              <th scope="row">Website</th>
              <td class="text-end">{{detail.website}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #add>
      <div>
        <button class="btn" mat-raised-button color="primary" (click)="addDetail()">
          Add
        </button>
      </div>
    </ng-template>
    <ng-template #empty>
      <div class="no-record">There is no record to show.</div>
    </ng-template>
  </div>
  <!-- left side -->
  <div class="col ms-4">
    <!-- right side -->
    <div class="d-flex justify-content-between">
      <h1>Contact Person</h1>
      <div>
        <button class="btn my-btn" mat-raised-button color="primary" (click)="addContact()">
          Add
        </button>
      </div>
    </div>
    <div *ngIf="contact$ | async as contacts;">
      <div *ngIf="contacts.length===0; then empty"></div>
      <div *ngFor="let contact of contacts">
        <div class="d-flex">
          <h3>{{contact.title}}&nbsp;{{contact.name}}</h3>
          <mat-icon mat-raised-button class="ms-4" aria-hidden="false" aria-label="delete icon" fontIcon="delete"
            (click)="delete(contact.id)" style="cursor: pointer"></mat-icon>
        </div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Job Title</th>
              <td class="text-end">{{contact.job}}</td>
            </tr>
            <tr>
              <th scope="row">Phone Number</th>
              <td class="text-end">{{contact.phone}}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td class="text-end">{{contact.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- right side -->
</div>