<div *ngIf="site$ | async as sites" class="row mt-4 g-0">
  <div *ngIf="sites.length == 0; then empty else show"></div>
  <ng-template #empty>
    <div class="mt-4">There is no record to show.</div>
  </ng-template>
  <ng-template #show>
    <div class="col">
      <h3>Active Sites</h3>
      <div *ngFor="let site of sites; let index = index">
        <a *ngIf="site.status===true" routerLink="/sites/site-details/{{site.id}}">{{site.name}}</a>
      </div>
    </div>
    <div class="col ms-4">
      <h3>Inactive Sites</h3>
      <div *ngFor="let site of sites">
        <a *ngIf="site.status===false" routerLink="/sites/site-details/{{site.id}}">{{site.name}}</a>
      </div>
    </div>
  </ng-template>
</div>