<div class="d-flex justify-content-between">
  <h1>Origin</h1>
  <div *ngIf="staffOrigin$ | async as details;">
    <div *ngIf="details.length===0; then add"></div>
    <div *ngFor="let detail of details">
      <div *ngIf="detail.submitted === true; then edit"></div>
      <ng-template #edit>
        <button class="btn" mat-raised-button color="primary" (click)="editDetail(detail)">
          Edit
        </button>
      </ng-template>
    </div>
    <ng-template #add>
      <div>
        <button class="btn" mat-raised-button color="primary" (click)="addDetail()">
          Add
        </button>
      </div>
    </ng-template>
  </div>
</div>
<div *ngIf="staffOrigin$ | async as details;">
  <div *ngIf="details.length===0; then empty"></div>
  <div *ngFor="let detail of details">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Gender</th>
          <td class="text-capitalize">{{detail.gender}}</td>
        </tr>
        <tr>
          <th scope="row">Ethnic Origin</th>
          <td class="text-capitalize">{{detail.ethnic_origin}}</td>
        </tr>
        <tr>
          <th scope="row">Date of Birth</th>
          <td class="text-capitalize">{{detail.date_of_birth.toDate() | date: 'd MMM, y'}}</td>
        </tr>
        <tr>
          <th scope="row">Place of Birth</th>
          <td class="text-capitalize">{{detail.place_of_birth}}</td>
        </tr>
        <tr>
          <th scope="row">Nationality</th>
          <td class="text-capitalize">{{detail.nationality}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <div class="no-record">There is no record to show.</div>
  </ng-template>
</div>