<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [ngClass]="{'hidden': !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/staff">Satff</a>
      <a mat-list-item routerLink="/clients">Clients</a>
      <a mat-list-item routerLink="/sites">Sites</a>
      <a mat-list-item routerLink="/subcontractors">Subcontractors</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Walinzi</span>
      <span class="spacer"></span>
      <div class="d-flex" *ngIf="!(isHandset$ | async)">
        <a class="nav-link text-white" routerLink="/staff">Staff</a>
        <a class="nav-link text-white ms-2" routerLink="/clients">Clients</a>
        <a class="nav-link text-white ms-2" routerLink="/sites">Sites</a>
        <a class="nav-link text-white ms-2" routerLink="/subcontractors">Subcontractors</a>
      </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
