<script type="text/javascript">
  let table_id  = "{{ var_dict.table_id }}"
  let modal_id  = "{{ var_dict.modal_id }}";
  let get_url   = "{{ var_dict.get_url | safe }}";
  let post_url  = "{{ var_dict.post_url | safe }}";
  let form_id   = "{{ var_dict.form_id }}";
  let data;
  var editor; // use a global for the submit and return data rendering in the examples

  // display controller
  (function () {
    var Editor = $.fn.dataTable.Editor;
    Editor.display.halfmoon = $.extend(true, {}, Editor.models.display, {
      // Create the HTML mark-up needed the display controller
      init: function (editor) {
        return Editor.display.halfmoon;
      },

      // Show the form
      open: function (editor, form, callback) {
        // Close any rows which are already open
        Editor.display.halfmoon.close(editor);

        if (editor.mode() === "create") {
          $("#" + modal_id ).addClass("show");
        }
        if (callback) {
          callback();
        }
      },

      // Hide the form
      close: function (editor, callback) {
        $("#" + modal_id ).removeClass("show");
        if (callback) {
          callback();
        }
      },
    });
  })();

  $(document).ready(function () {
    // using jQuery
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    //get csrftocken
    let csrftoken = getCookie("csrftoken");

      // block submission by the modal
    $( "#" + form_id ).on( "submit", function( event ) {
      event.preventDefault();
      data = $(this).serializeArray();
      editor.submit();
    });

    // editor
    editor = new $.fn.dataTable.Editor({
      ajax: {
        url: post_url,
        data: function (d) {
          data.forEach(function (e) {
            d[e.name] = e.value;
          })
        },
        type: "POST",
        headers: {
          "X-CSRFToken": csrftoken,
        },
        mode: "same-origin",
      },
      table: table_id,
      display: "halfmoon",
      idSrc: "id",
      fields: [
        {
          label: "Site name",
          name: "site",
        },
        {
          label: "Staff name",
          name: "staff",
        },
        {
          label: "Starting date",
          name: "started",
        },
        {
          label: "Ending date",
          name: "ended",
        },
        {
          label: "Starting time",
          name: "time_in",
        },
        {
          label: "Ending time",
          name: "time_out",
        },
      ],
    });

    // datatable
    // Custom rendering function for the 'staff' column
    function renderStaffNames(data, type, row) {
      if (type === "display") {
        // Extract the staff names from the data array
        var staffNames = data.map(function(staff) {
          return staff.name;
        });

        // Join the staff names with commas
        return staffNames.join(", ");
      }

      // Return the original data for other types or sorting
      return data;
    }

    var table = $("#" + table_id ).DataTable({
      dom: "Bflrtip",
      responsive: true,
      lengthMenu: [25, 50, 75, 100],
      fixedHeader: {      //not working
        header: true,
        headerOffset: $('#navbar').outerHeight() + 10
      },
      /*
      search: true, //  not working
      processing: true, //  not working
      serverSide: true, //  not working
      */
      ajax: {
        url: get_url,
        dataSrc: 'data',
      },
      columns: [
        {
          data: null,
          defaultContent: "",
          className: "select-checkbox",
          orderable: false,
          searchable: false,
        },
        {data: "site", className: "text-capitalize"},
        {
          data: "staff[0].name",
          //render: renderStaffNames, //searching is not working change data to staff
          className: "text-capitalize"
        }, // only one staff name working
        {data: "date"},
        {data: "day"},
        {data: "duration"},
        {data: "time_in"},
        {data: "time_out"},
      ],
      select: true,
      buttons: [
        {
          extend: "create",
          text: "Add",
          className: "btn",
          editor: editor,
        },
        {
          extend: "edit",
          className: "btn",
          editor: editor,
        },
        {
          extend: "remove",
          className: "btn",
          editor: editor,
        },
        {
          extend: "collection",
          text: "Export",
          className: "btn",
          buttons: [
            {
              extend: "copyHtml5",
              text: '<i class="fa fa-files-o"></i> Copy',
              titleAttr: "Copy",
            },
            {
              extend: "excelHtml5",
              text: '<i class="fa fa-file-excel-o"></i> Excel',
              titleAttr: "Excel",
            },
            {
              extend: "csvHtml5",
              text: '<i class="fa fa-file-text-o"></i> CSV',
              titleAttr: "CSV",
            },
            {
              extend: "pdfHtml5",
              text: '<i class="fa fa-file-pdf-o"></i> PDF',
              titleAttr: "PDF",
            },
          ],
        },
      ],
    });
    //table.buttons().container().appendTo( $('#content-title') ); //append to html
    //main function ends
  });
</script>
