{% if messages %}
  {% for message in messages %}
    <script type="text/javascript">
    halfmoon.initStickyAlert({
      content: "{{ message }}",
      title: "{{ message.tags | title}}",
      {% if message.tags == "success" %}
      alertType: "alert-success",
      {% elif message.tags == "error" %}
      alertType: "alert-danger",
      {% else %}
      alertType: "alert-secondary",
      {% endif %}
      fillType: "filled",
      timeShown: 10000
    });
    </script>
    {% comment %} {% if message.tags == 'success' %}
      <script>
          halfmoon.initStickyAlert({
            content: "{{message}}",
            title: "Success",
            alertType: "alert-success",
            fillType: "filled-lm",
            timeShown: 10000
          });
</script>
    {% elif message.tags == 'info' %}
      <script>
          halfmoon.initStickyAlert({
            content: "{{message}}",
            title: "Info",
            alertType: "alert-secondary",
            fillType: "filled-dm"
          });
</script>
    {% elif message.tags == 'warning' %}
      <script>
          halfmoon.initStickyAlert({
            content: "{{message}}",
            title: "Warning",
            alertType: "alert-secondary",
            fillType: "filled-dm"
          });
</script>
    {% elif message.tags == 'error' %}
      <script>
          halfmoon.initStickyAlert({
            content: "{{message}}",
            title: "Error",
            alertType: "alert-danger",
            fillType: "filled",
            timeShown: 10000
          });
</script>
    {% endif %} {% endcomment %}
  {% endfor %}
{% endif %}
