<div class="sidebar">
  <div class="sidebar-menu">
    <!-- Sidebar content with the search box -->
    <div class="sidebar-content">
      <input type="text" class="form-control" placeholder="Search" />
      <div class="mt-10 font-size-12">
        <!-- mt-10 = margin-top: 1rem (10px), font-size-12 = font-size: 1.2rem (12px) -->
        Press <kbd>/</kbd> to focus
      </div>
    </div>
  </div>
  <div class="sidebar-menu list">
    <!-- Sidebar links and titles -->
    {% comment %} Customers {% endcomment %}
    {% if user.is_superuser %}
      <h5 class="sidebar-title">Admin</h5>
      <div class="sidebar-divider"></div>
      <a href="{% url 'customers:customer_list' %}"
         class="sidebar-link {{ customers_active }}">Customer list</a>
      <br />
    {% endif %}
    <h5 class="sidebar-title">Get started</h5>
    <div class="sidebar-divider"></div>
    <a href="{% url 'staff:staff_list' %}"
       class="sidebar-link {{ staff_active }}">Staff list</a>
    <a href="{% url 'sites:site_list' %}"
       class="sidebar-link {{ sites_active }}">Site list</a>
    <a href="{% url 'clients:client_list' %}"
       class="sidebar-link {{ clients_active }}">Client list</a>
    <a href="{% url 'shifts:shift_list' %}"
       class="sidebar-link {{ shifts_active }}">Shift list</a>
    <br />
    <h5 class="sidebar-title">Staff</h5>
    <div class="sidebar-divider"></div>
    <a href="#" class="sidebar-link">Spreadsheet</a>
    <a href="#" class="sidebar-link">Map</a>
  </div>
</div>
