<div class="d-flex justify-content-between">
  <h1>Vetting</h1>
  <div *ngIf="vettingDetail$ | async as details;">
    <div *ngIf="details.length===0; then add"></div>
    <div *ngFor="let detail of details">
      <div *ngIf="detail.submitted === true; then edit"></div>
      <ng-template #edit>
        <button class="btn" mat-raised-button color="primary" (click)="editDetail(detail)">
          Edit
        </button>
      </ng-template>
    </div>
    <ng-template #add>
      <div>
        <button class="btn" mat-raised-button color="primary" (click)="addDetail()">
          Add
        </button>
      </div>
    </ng-template>
  </div>
</div>
<div *ngIf="vettingDetail$ | async as details;">
  <div *ngIf="details.length===0; then empty"></div>
  <div *ngFor="let detail of details">
    <table class="table table-striped col">
      <tbody>
        <tr>
          <th scope="row">
            Vetting Start Date
          </th>
          <td>{{detail.vetting_started.toDate() | date: 'd MMM, y'}}</td>
        </tr>
        <tr>
          <th scope="row">Vetting End Date</th>
          <td>{{detail.vetting_finished.toDate() | date: 'd MMM, y'}}</td>
        </tr>
        <tr>
          <th scope="row">Contract Start Date</th>
          <td>{{detail.contract_started.toDate() | date: 'd MMM, y'}}</td>
        </tr>
        <tr>
          <th scope="row">Contract End Date</th>
          <td>{{(detail.contract_finished !== null) ? (detail.contract_finished.toDate() | date: 'd MMM, y'): ''}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <div class="no-record">There is no record to show.</div>
  </ng-template>
</div>