<div class="d-flex justify-content-between mt-2">
  <h1>Other Documents</h1>
  <div *ngIf="document$ | async as documents;">
      <div>
        <button class="btn" mat-raised-button color="primary" (click)="addDetail()">
          Add
        </button>
      </div>
  </div>
</div>
<div *ngIf="document$ | async as documents;">
  <div *ngIf="documents.length===0; then empty"></div>
  <div *ngFor="let document of documents">
    <strong class="text-capitalize">{{document.title}}</strong>
    <table class="table table-striped mt-2">
      <tbody>
        <tr>
          <th scope="row">Identity Number</th>
          <td class="text-uppercase">{{document.number}}</td>
        </tr>
        <tr>
          <th scope="row">Country of Isuse</th>
          <td class="text-capitalize">{{document.country_of_issue}}</td>
        </tr>
        <tr *ngIf="document.issued!==null">
          <th scope="row">Date of Issue</th>
          <td>{{(document.issued !==null) ? (document.issued.toDate() | date: 'dd MMM, y'): ''}}</td>
        </tr>
        <tr *ngIf="document.expired!==null">
          <th scope="row" >Date of Expiry</th>
          <td>{{(document.expired !==null) ? (document.expired.toDate() | date: 'dd MMM, y'): ''}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <div class="no-record">There is no record to show.</div>
  </ng-template>
</div>