<div class="d-flex justify-content-between mt-2">
  <h1>Bank Details</h1>
  <div>
    <mat-icon mat-raised-button class="ms-4 myIcon" aria-hidden="false" aria-label="add icon" fontIcon="add_box"
    (click)="addDetail()" color="primary"></mat-icon>
  </div>
</div>
<div *ngIf="StaffBankDetail$ | async as details;">
  <div *ngIf="details.length===0; then empty"></div>
  <div *ngFor="let detail of details; let index = index">
    <span class="fs-5">Detail No. {{index + 1}}</span>
    <mat-icon mat-raised-button class="ms-4 editIcon" aria-hidden="false" aria-label="create icon" fontIcon="create"
    (click)="editDetail(detail)" color="primary"></mat-icon>
    <mat-icon mat-raised-button class="ms-2 editIcon" aria-hidden="false" aria-label="delete icon" fontIcon="delete"
    (click)="delete(detail.id)" color="warn"></mat-icon>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Bank Name</th>
          <td class="text-capitalize">{{detail.bank_name}}</td>
        </tr>
        <tr>
          <th scope="row">Account Title</th>
          <td class="text-capitalize">{{detail.account_title}}</td>
        </tr>
        <tr>
          <th scope="row">Account Sort Code</th>
          <td>{{detail.sort_code}}</td>
        </tr>
        <tr>
          <th scope="row">Account Number</th>
          <td>{{detail.bank_account}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <div class="no-record">There is no record to show.</div>
  </ng-template>
</div>