{% load static %}

<div class="col">
  <div class="d-flex justify-content-between">
    <h3>Client Notes</h3>
    <!-- note offcanvas-->
    <button
      class="btn basic"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#note_offcanvas"
      aria-controls="note_offcanvas"
    >
      <img src="{% static 'icons/edit.svg' %}" alt="Edit">
    </button>
  </div>

  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="note_offcanvas"
    aria-labelledby="note_offcanvas_label"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="note_offcanvas_label">
        Add Client Notes
      </h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body small">
      <form method="post">
        {% csrf_token %}
        <div class="form-floating mb-2">
          <input
            type="text"
            name="title"
            class="form-control text-capitalize"
            id="floatingInput"
            placeholder="Title"
            maxlength="20"
            required
          />
          <label for="floatingInput">{{ note_form.title.label_tag }}</label>
        </div>
        <div class="form-floating mb-2">
          <textarea
            name="note"
            class="form-control"
            id="floatingTextarea"
            placeholder="Notes"
            maxlength="250"
            style="height: 100px"
            required
          ></textarea>
          <label for="floatingTextarea">{{ note_form.note.label_tag }}</label>
        </div>
        <input
          type="hidden"
          name="client"
          value="{{ client.id }}"
          id="client"
        />
        <div>
          <button
            type="submit"
            class="btn btn-primary btn-lg w-100"
            name="note_form"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table table-striped table-sm" style="width: 100%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Note</th>
      </tr>
    </thead>
    <tbody>
      {% for note in note_data %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td class="text-capitalize">{{note.title}}</td>
        <td>{{note.note}}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">No notes</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>