<div class="row mt-4 g-0 align-items-start">
  <div class="col">
    <div class="d-flex justify-content-between">
      <h1>Other Information</h1>
      <div><button class="btn" mat-raised-button color="primary" (click)="addDetail()">Add</button></div>
    </div>
  </div>
  <div class="col ms-4">
    <div class="d-flex justify-content-between">
      <h1>Contact Person</h1>
      <div><button class="btn" mat-raised-button color="primary" (click)="addDetail()">Add</button></div>
    </div>
  </div>
</div>
