<div class="row mt-4 g-0">
    <div class="col">
      <div class="d-flex justify-content-between">
      <h1>Notes</h1>
      <span>
        <button mat-raised-button color="primary" (click)="addNotes()">
          Add
        </button>
      </span>
    </div>
    </div><!-- top -->
    <div *ngIf="notes?.length == 0; then empty else notesData"></div>
    <ng-template #notesData>
      <ng-container *ngFor="let note$ of notes; let index = index">
        <div>
          <h3>{{index+1}}</h3>
          <p>{{note$.note}}</p>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #empty>
      <div class="no-record">
        There is no record to show.
      </div>
    </ng-template>
  </div>